<!doctype html>
<html>
    <head>
        <title>Chaos lasers!</title>
        <link rel="stylesheet" type="text/css" href="static/physics_web.css"/>
        <link rel="stylesheet" type="text/css" href="static/jquery.imgareaselect-0.9.10/css/imgareaselect-default.css"/>
        <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
        <script src="static/jquery.elevatezoom-mod.js"></script>
        <script type="text/javascript" src="static/jquery.imgareaselect-0.9.10/scripts/jquery.imgareaselect.pack.js"></script>
        <script type="text/javascript">
            var BDKD = {};
            $(document).ready(function() {
                BDKD.dataset = "{{ datasets[0] }}";    
            });
        </script>
        <script src="static/physics_web.js"></script>
    </head>
    <body>
        <h1>Experiment results</h1>
        <p>
            <label id="explabel" for="dataset">Dataset:</label>
            <select id="dataset" onchange="updateMapList()">
                {% for dataset in datasets %}
                <option>{{ dataset }}</option>
                {% endfor %}
            </select>
            <label id="label_map" for "map">Map:</label>
            <select id="map" onchange="updateMapPlot()"></select>
        </p>
        <div id="map_header" class="sliding_header">Map</div>
        <div id="map_panel"  class="sliding_panel">
            <p><span id="heatmap_download"/></p>
            <table border="0">
                <tr>
                    <td style="vertical-align:center;">Feedback<br/>(AOM Transmission)</td>
                    <td><span id="heatmap"/></td>
                    <td style="text-align:left;"><span id="map_coords" style="display:none">
                        <strong>Injection:</strong><br/><span id="injection_coord"></span><br/>
                        <strong>Feedback:</strong><br/><span id="feedback_coord"></span>
                    </span></td>
                </tr>
                <tr>
                    <td/>
                    <td style="text-align:center;">Injection Current (mA)</td>
                    <td/>
                </tr>
            </table>
            <p><form onsubmit="displayTimeSeries(); return false;">
                Injection: <select id="map_injection"></select>
                Feedback: <select id="map_feedback"></select>
                <input type="submit" value="Show"/>
            </form></p>
        </div>

        <div id="time_series_header" class="sliding_header">Time series</div>
        <div id="time_series_panel"  class="sliding_panel">
            <p><span id="time_series_download"></span></p>
            <table border="0">
                <tr>
                    <td style="vertical-align:center;">Signal Amplitude<br/>(V)</td>
                    <td><span id="graph1"></td>
                </tr>
                <tr>
                    <td/>
                    <td>Time (ps)</td>
                </tr>
            </table>
            <p><form onsubmit="zoomTimeSeries(); return false;">
                    From: <input id="from_time" type="text" size="6"/> 
                    To: <input id="to_time" type="text" size="6"/>
                    <input type="submit" value="Zoom"/>
                </form> | <a href="#" onClick="updateTimeSeries(0, 999999); false">Reset</a>
            </p>
        </div>

        <hr style="display:block; clear:both;"/>
        <p><a href="/static/doc/api.html">API documentation</a></p>

        <script type="text/javascript">
            $('#map_header').click(function () {
                $('#map_panel').slideToggle();
            });
            $('#time_series_header').click(function () {
                $('#time_series_panel').slideToggle();
            });
            $('#time_series_panel').css('display', 'none');
        </script>
    </body>
<html>
