<!doctype html>
<html>
    <head>
        <title>Chaos lasers!</title>
        <link rel="stylesheet" type="text/css" href="static/style.css" />
        <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
        <script src="static/jquery.elevatezoom-mod.js"></script>
        <script type="text/javascript">
            var BDKD = {};
            $(document).ready(function() {
                BDKD.dataset = "{{ datasets[0] }}";    
            });
        </script>
        <script src="static/code.js"></script>
    </head>
    <body>
	    <h1>Experiment results</h1>
	    <p>
            <label id="explabel" for="dataset">Dataset:</label>
            <select id="dataset" onchange="updateMapList()">
                {% for dataset in datasets %}
                <option>{{ dataset }}</option>
                {% endfor %}
            </select>
            <label id="label_map" for "map">Map:</label>
            <select id="map" onchange="updateMapPlot()">
	    </select>
	    </p>
        <div id="controls">
            <p id="log">Pos</p>
        </div>
        <div id="heatdiv">
	    <table border="0">
            <tr>
                <td style="vertical-align:center;">Feedback<br/>(AOM Transmission)</td>
                <td><span id="heatmap"/></td>
            </tr>
		    <tr>
                <td/>
                <td>Injection Current (mA)</td>
            </tr>
            <tr>
                <td/>
                <td><span id="heatmap_download"/></td>
            </tr>
        </table>
        </div>
        <h2>Selected dataset</h2>
        <div class="subgraph">
            <h3>Graph1</h3>
            <div id="graph1">Graph 1 placeholder</div>
            <p><span id="time_series_download"/></p>
        </div>
        <div class="subgraph">
            <h3>Graph2</h3>
        </div>
        <div class="subgraph">
            <h3>Graph3</h3>
        </div>

    </body>
<html>
