h1, h2 {
    width: 100%;
    text-align: center;
}

#controls {
    width: 30%;
    float: left;
}

#heatdiv {
    width: 66%;
    text-align: center;
}

.subgraph {
    width: 31%;
    float:left;
    padding-left: 1%;
    padding-right: 1%;
    text-align: center;
}

.sliding_header {
    background-color: turquoise;
    border-bottom: 2px solid slategray;
    font-size: large;
}
